* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  background-color: #fff4fd;
}

body .saludo {
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

body .txt-saludo {
  font-family: ChakraPetch-Regular;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}

body .encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
}

body .logo-gifOF {
  width: 55%;
}

body .logo-dia-day {
  margin: 3% 5%;
}

body .logo-noche-day {
  display: none;
}

body .botones {
  width: 35%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .boton {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body .boton:hover {
  background: #E6BBE2;
  border: 1px solid #110038;
  outline: 1px dotted #110038;
  outline-offset: -5px;
}

body .boton:active {
  background: #E6BBE2;
  border: 1px solid #110038;
  outline: 1px dotted #110038;
  outline-offset: -5px;
}

body .btn-crear-guifos {
  padding: 2.2% 10%;
}

body .btn-elegir-tema-principal {
  padding: 2.2% 9.1%;
}

body .btn-dropdown {
  padding: 2.2% 2.5%;
  margin-left: -1%;
}

body .estilos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .btn-estilos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .sailor-estilos {
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3.8%;
}

body .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .sailor-day {
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

body .sailor-nigth {
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body .cont-mis-gifos {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: -4%;
  width: 10%;
}

body .mis-gifos {
  text-decoration: none;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
}

body .mis-gifos:hover {
  border: 1px dotted #110038;
}

body .mis-gifos:active {
  color: #c2b5cb;
}

body .buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3%;
}

body .encabezado-buscador {
  font-family: ChakraPetch-Bold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  width: 85%;
}

body .cuerpo-buscador {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 85%;
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .buscador {
  background-color: white;
}

body .lupa_buscar {
  background: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body .txt_buscar {
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
}

body .inactivo {
  color: #B4B4B4;
}
/*# sourceMappingURL=day.css.map */