*{
padding: 0px;
margin: 0px;
border: 0px;
}

*:focus{
    outline: none;
}

body{
    background-color: rgb(255,244,253);
    
    .subtitulo{
        font-family: ChakraPetch-Regular;
        font-size: 14px;
        color: #110038;
        letter-spacing: 0;
    } 

    .saludo{
        background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
        box-shadow: 0 1px 0 0 #110038;
    }
    
    .txt-saludo{
        font-family: ChakraPetch-Regular;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0;
    }
    
    .encabezado{
        display: flex;
        margin-top: 2%;
    }

    .logo-gifOF{
        width: 55%;
    }

 
    .logo-dia-day{
        margin: 3% 5%;
    }
    
    .logo-noche-day{
        display: none;
    }

    .contenedor_botones{
        align-self: center;
        display: flex;
    }

   .boton{
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        font-family: ChakraPetch-Regular;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        cursor: pointer;
   }

   .boton:hover{
        background: #E6BBE2;
        border: 1px solid #110038;
        outline: 1px dotted #110038;
        outline-offset: -5px;
   }

   .boton:active{
        background: #E6BBE2;
        border: 1px solid #110038;
        outline: 1px dotted #110038;
        outline-offset: -5px;
   }

   .btn-crear-guifos{
        width: 144px;
        height: 36px;
        margin-right: 3%;
   }

   .btn-elegir-tema-principal{
        width: 131px;
        height: 36px;
   }

   .btn-dropdown{
        display: flex;
        width: 36px;
        height: 36px;
        justify-content: center;
        align-items: center;
   }
   .btn-forward{
        display: none;
        width: 36px;
        height: 36px;
        justify-content: center;
        align-items: center;
    }
   .estilos{
        display: flex;
        flex-direction: column;
   }

   .btn-estilos{
        display: flex;
        flex-direction: row;
   }

   .sailor-estilos{
        display: none;
        position: absolute;
        flex-direction: column;
        width: 167px;
        margin-top: 35px;
        height: 102px;
        align-items: center;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
   }

   .sailor-day{
        width: 150px;
        height: 36px;
        margin-top: 5%;
        background: #FFF4FD;
        border: 1px solid #CCA6C9;
        box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
        font-family: ChakraPetch-Regular;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        cursor: pointer;
   }

   .sailor-day::first-letter{
       text-decoration: underline;
   }

   .sailor-night{
        width: 150px;
        height: 36px;
        margin-top: 5%;
        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        font-family: ChakraPetch-Regular;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        cursor: pointer;
   }

   .cont-mis-gifos{
        align-self: center;
        width: 6%;
        margin-left: 1%;
    }

   .mis-gifos{
        text-decoration: none;
        font-family: ChakraPetch-Regular;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 18px;
        cursor: pointer;
    }

    .cont-mis-gifos::first-letter{
        text-decoration: underline;
    }

    .mis-gifos:hover{
    border: 1px dotted #110038;
    }

    .mis-gifos:active{
    color: #C2B5CB;
    }

    .buscar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%
    }

    .encabezado-buscador{
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    width: 85%;
    box-shadow: inset -2px 0px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: 5px 0 0 1%;
    }

    .cuerpo-buscador{
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 0px 0 0 #FFFFFF;
        width: 85%;
        height: 4em;
        display: flex;
        align-items: center;
    }

    .buscador{
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 1px 1px 0 0 #000000;
        cursor: text;
        font-family: ChakraPetch;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        margin-left: 2%;
        padding-left: 1%;
        height: 2.5em;
        width: 86%;
    }


    .lupa_buscar{
        background: #F7C9F3;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        padding: 5px;
        margin-left: 1%;
        width: 102px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
    }

    .lupa_buscar:active{
        background: #E6BBE2;
        border: 1px solid #110038;
        outline: 1px dotted #110038;
        outline-offset: -5px;
    }

    #img_lupa_buscar_night{
        display: none;
    }

    .txt_buscar{
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
    }

    .inactivo{
    background: #E6E6E6;
    color: #B4B4B4;
    cursor: auto;
    }

    .cuerpo_opciones{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    height: 10em;
    width: 85%;
    display: none;
    flex-direction: column;
    padding: 1% 0% 0% 2%;
    }

    .opcion{
        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        width: 87.6%;
        height: 2em;
        margin: 5px;
        padding-left: 1%;
        margin-left: 0px;
        margin-right: 0px;
        cursor: pointer;
    }

    .opcion::first-letter{
        text-transform: capitalize;
    }

    .opcion:hover{
        background: #DBDBDB;
        border: 1px solid #110038;
        outline: 1px dotted #110038;
        outline-offset: -5px;
    }

    .txt_sugerencia{
        font-family: ChakraPetch-Regular;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
    }

    .sugerencias_hoy{
    display: flex;
    flex-direction: column;
    margin: 2% 0 0 3%;
    height: 25em;
    }

    .caja_txt{
    width: 85%;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    padding-left: 1%;
    }

    .cuerpo_sugerencias_hoy{
    display: flex;
    margin-top: 1%;
    }

    .contenedor_gif_hoy{
    margin-right: 3.24%;
    }
    
    .encabezado_gif{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    width: 246px;
    height: 24px;
    }

    .txt_encabezado_gif{
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 3%;
    }

    .img_cerrar{
    cursor: pointer;
    float: right;
    margin: 5px 5px 0 0;
    }

    .gif_hoy{
        display: inline-block;
        position: absolute;
        border: 1px solid transparent;
    }

    .gif_hoy:hover{
        outline: 1px dotted #110038;
        outline-offset: -3px;
        border: 1px solid #110038;
    }

    .img_gif_hoy{
        width: 246px;
        height: 246px;
    }

    .btn_ver_mas{
        background: #4180F6;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
        position: absolute;
        left: 1em;
        bottom: 1em;
        font-family: ChakraPetch-Regular;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        padding: 4px;
        cursor: pointer;
    }

    .btn_ver_mas:hover{
        outline: 1px dotted #110038;
        outline-offset: -3px;
        border: 1px solid #110038;
    }

    .tendencias{
        margin-left: 3%;
    }

    .contenedor_tendencias{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%
    }

    .div_gif_tendencia{
        margin: 1% 3.26% 0 0;
        position: relative;
        border: 1px solid transparent;
    }

    .div_gif_tendencia:hover{
        margin: 1% 3.26% 0 0;
        position: relative;
        outline: 1px dotted #110038;
        outline-offset: -3px;
        border: 1px solid #110038;
    }
  

    .gif_tendencia{
    width: 246px;
    height: 246px;
    }

    .titulo_gif{
    display: none;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding-left: 4%;
    outline: 1px dotted #110038;
    outline-offset: -3px;
    border: 1px solid #110038;
    border-top: none;
    }

    .resultados_busqueda{
        margin: 0 0 3% 3%;
    }

    .cont_historial_busquedas{
        display: flex;
        flex-wrap: wrap;
        width: 85%;
    }

    .div_historial{
        margin: 2%;
        background: #4180F6;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
        margin: 0.3em;
        padding: 0.3em 0.7em;
        font-family: ChakraPetch-Regular;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 18px;
        cursor: pointer;
    }

    .contenedor_resutaldos_busqueda{
        display: flex;
        flex-wrap: wrap;
    }

    .div_busqueda{
        margin: 1% 3.26% 0 0
    }

    .gif_busqueda{
        width: 246px;
        height: 246px;
    }

    //espacio reservado para css de mis gifos


    .crear_y_grabar_guifos{
        display: flex;
        flex-direction: column;
    }

    .cont_crear_gifos{
        width: 100%;
        height: 30em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .div_crear_gifos{
        width: 648px;
        height: 386px;

    }

    .encabezado_crear_y_grabar_gifos{
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
        box-shadow: inset -2px 0px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        width: 100%;
    }

    .encabezado_crear_gifos{
        height: 24px;
    }

    .txt_encabezado_crear_y_grabar_gif{
        font-family: ChakraPetch-Bold;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        padding-left: 1%;
    }

    .cuerpo_crear_y_grabar_gifos{
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 0px 0 0 #FFFFFF;
        width: 100%;
    }

    .cuerpo_crear_gifos{
        height: 390px;
    }

    .cuerpo_crear_gifos_top{
        display: flex;
    }
    .cuerpo_crear_gifos_top_img{
        margin: 4% 3% 0% 3%;
    }

    .cuerpo_crear_gifos_top_titulo{
        font-family: ChakraPetch-Bold;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        margin: 3% 0 0 4%;
     }
     
     .cuerpo_crear_gifos_mid{
        width: 518px;
        height: 285px;
        font-family: ChakraPetch-Regular;
        font-size: 14px;
        color: #110038;
        letter-spacing: 0;
        line-height: 20px;
        margin: -3% 0 0 15%;
     }

     .cuerpo_crear_gifos_bot{
        display: flex;
        justify-content: flex-end;
     }

     .btn_cancelar{
        width: 144px;
        height: 36px;
        background: #FFF4FD;
        margin-right: 1%;
     }

     .btn_comenzar{
        width: 144px;
        height: 36px;
        margin-right: 4%;
     }

     .grabar_gifos{
        width: 854px;
        align-self: center;
     }

     .cuerpo_grabar_gifos{
        height: 524px;
        display: flex;
        justify-content: center;
        align-items: center;
     }

    .txt_cargando{
        position: absolute;
        font-size: 63px;
        -webkit-text-stroke: 3px greenyellow;
    }

    .video_gifos{
        width: 96%;
        height: 96%;
        object-fit: cover;
    }

    .prev_gif{
        width: 96%;
        height: 96%;
    }

    .botones_grabar_gifos{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 1.5%;
    }

    .btn_camara{
        width: 36px;
        height: 36px;
    }

    .btn_capturar{
        width: 144px;
        height: 36px;
        margin-right: 2%;
    }

    .btn_recording{
        background: #FF6161;
        width: 36px;
        height: 36px;
    }

    .btn_listo{
        background: #FF6161;
        color: #FFFFFF;
        width: 144px;
        height: 36px;
        margin-right: 2%;
    }

    .btn_repetir{
        background: #FFF4FD;
        width: 144px;
        height: 36px;
        margin-right: 2%;
    }

    .btn_subir{
        width: 144px;
        height: 36px;
        margin-right: 2%;
    }
    
    .cronometro{
        width: 124px;
        height: 36px;
        margin-right: 2.5%;
        background: #FF0000;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        font-family: ChakraPetch-Regular;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cont_barra_progreso{
        width: 265px;
        height: 24px;
        display: flex;
        align-items: center;
        margin-right: 27%;
    }

    .forward_barra_progreso{
        width: 20px;
        height: 20px;
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        margin-right: 1.5%;
    }

    .cuerpo_barra_progreso{
        width: 240px;
        height: 24px;
        background: #B4B4B4;
        background-image: linear-gradient(90deg, #999999 46.15%, #e6e6e6 46.15%, #e6e6e6 50%, #999999 50%, #999999 96.15%, #e6e6e6 96.15%, #e6e6e6 100%);
        background-size: 15px;
        box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #FFFCFC;
    }
    .carga_barra_progreso{
        width: 1%;
        height: 100%;
        background: #F7C9F3;
        background-image: linear-gradient(90deg, #f7c9f3 45.83%, #b8b8b8 45.83%, #b8b8b8 50%, #f7c9f3 50%, #f7c9f3 95.83%, #b8b8b8 95.83%, #b8b8b8 100%);
        background-size: 15px;
    }

    .cont_subir_gifos{
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        width: 838px;
        height: 490px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img_globo_terraqueo{
        width: 48px;
        height: 48px;
    }

    .txt_subiendo_gifo{
        font-family: ChakraPetch-Bold;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
        font-weight: bold;
        margin-bottom: 5%;
    }

    .barra_subir_gifos{
        width: 408px
    }

    .txt_espera_subir_gifos{
        font-family: ChakraPetch-Regular;
        font-size: 12px;
        color: rgba(17,0,56,0.64);
        letter-spacing: 0;
        text-align: center;
        line-height: 14px;
        margin-top: 1%;
    }

    .cuerpo_gifo_exitoso_top{
        display: flex;
        height: 80%
    }

    .cuerpo_gifo_exitoso_top_gif{
        margin: 4% 2%;
    }

    .cuerpo_gifo_exitoso_top_botones{
        display: flex;
        flex-direction: column;
        padding-top: 5%;
    }

    .prev_gif_subido{
        width: 365px;
        height: 191px;
    }

    .cuerpo_gifo_exitoso_bot{
        justify-content: flex-end;
        display: flex;
    }

    .txt_gifo_creado{
        font-family: ChakraPetch;
        font-weight: bold;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 6%;
    }

    .btn_copiar_url{
        width: 245px;
        height: 36px;
        background: #FFF4FD;
        margin-bottom: 4%;
    }

    .btn_descargar_gif{
        width: 245px;
        height: 36px;
        background: #FFF4FD;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_final{
        width: 144px;
        height: 36px;
        margin-right: 3%;
    }

    .mis_gifos{
        display: flex;
        flex-direction: column;
        margin: 2% 0 0 3%;
        height: 25em;
    } 

  .contenedor_mis_gifos{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
  }

  .div_gif_local{
    margin: 1% 3.26% 0 0;
    position: relative;
    border: 1px solid transparent;
  }

  .gif_local{
    width: 246px;
    height: 246px;
  }

    .tachado{
        text-decoration: line-through;
    }

    .rotate{
        transform: rotate(-270deg);
    }

    .show{
        display: flex;
     }

    .suppress{
        display: none;
    }
}
